// Global Variables

// Remove Hacks
$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;


// Colors
$blue       : #01afe1;
$red        : #a21f1f;
$off-white  : #edeff0;
$light-grey : #dfdfdf;
$grey       : #929292;
$dark-grey  : #384047;
$body-copy  : #5b7b8e;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$font-light: 300;
$font-heavy: 600;
$font-italic: italic;